<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.usinadigital.msgsystemandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Library ver 8 = Android 2.2 -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/usina_cultural"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.usinadigital.msgsystemandroid.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.usinadigital.msgsystemandroid.MessagesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/messages" >
        </activity>
        <activity
            android:name="br.usinadigital.msgsystemandroid.ConfigurationsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/configurations" >
        </activity>
        <activity
            android:name="br.usinadigital.msgsystemandroid.MessageViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/message" >
        </activity>
        <activity
            android:name="br.usinadigital.msgsystemandroid.NotificationAction">
        </activity>

        <receiver
            android:name="br.usinadigital.msgsystemandroid.DeviceBootReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="br.usinadigital.msgsystemandroid.MessageService" >
        </service>
    </application>

</manifest>