sendMessage(text,categories)
-----------------------------
Action:
1.saveMessage
2.getAndroidUserByCategories()
3.send message to all the android user selected

getMessageFromDateToDate
------------------------
For Statistics


*******************
If GCM work:
*******************
--- Update categories: once a day check if the list is changed. Check the lastUpdate. Check new,deleted,updated(only if the name is different)


*******************
if GCM doesn´t work
********************
---getCategories(): used by the users to check if the categories list is changed
---getLastMessagesByCategoriesFromDate(categories,Date) To know if a androidUser has the news of the last N days. Android have a DB of the last N days messages, compare the most recents of the 2 list 
